<% provide(:title, "Home") %>
<div class="bg-amber-600 my-8 py-2 text-3xl font-bold">
<p>Find me in app/views/home/index.html.erb</p>
</div>
<div class="bg-teal-600 my-8 py-2">
<p>Stimulus says, <i data-controller=hello></i></p>
</div>
